body {
    padding-top: 40px; /* задаємо відступ, щоб головне меню не заїжджало під меню навігаціі */
}

h1, h2, h3, h4 {
    font-family: 'Fjalla One', sans-serif; /* задаємо  наш підключений шрифт, і альтернативу, якщо він не завантажиться*/
}

h1 {
    color: #47adcb; /* задаємо колір для тега h1 */
}
/* задаємо розділювач */
.divider{
    background-image: url(../img/divider-pattern.png);
    background-repeat: repeat-x;
    height: 40px;
    width: 100%;
}

/* Navigation Style */

.navbar .brand {
    font-family: 'Merienda', cursive;
    font-size: 28px;
}


/* Caorusel Style*/

/* задаємо ширину і висоту картинки */
.carousel img {
    width: 100%;
    height: 550px;
}

.carousel-caption { /* задаємо стилі для діва, який буде поверх картинки із слайдами */
    background: none;
    max-width: 800px;
    top: 150px;
    padding: 0 200px;
}

.carousel-caption h1 { /* задаємо  стилі для заголовка h1*/
    text-shadow: 0px 2px #222;
}

.carousel-caption a {
    margin-top: 20px;
}


/* Page Style*/
/* задаємо стилі для секцій */
#heading, #screenshots, #features, #download{
    text-align: center;
    padding: 50px 0;
}
/* стилі для секції about */
#about div.row{
    padding: 50px 0;
}

#screenshots h1{
    padding-bottom: 30px;
}


/* Footer style */

footer {
    background-color: #1b1b1b;
    color: #999999;
}

footer .span12 {
    text-align: center;
}

/* для посилась а, які в списку із id="social" задаємо стилі*/

#social li a {
    background-image: url(../img/social-media-icons.png);
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    width: 32px;
}
/* для кожної іконки задаємо свою позицію, оскільки для всіх цих іконок використовується один файл */
    #social li a.facebook-icon {
        background-position: 0px 0px;
    }

    #social li a:hover.facebook-icon {
        background-position: 0px -32px;
    }


    #social li a.twitter-icon {
        background-position: -32px 0px;
    }

    #social li a:hover.twitter-icon {
        background-position: -32px -32px;
    }

    #social li a.google-icon {
        background-position: -64px 0px;
    }

    #social li a:hover.google-icon {
        background-position: -64px -32px;
    }
